{% extends "base.html" %}
{% block content %}
  {{block.super}}
  <title>{{image_id.username}}</title>
<div class="container">
  <div class="row">
      <div class="col-md-12">
                {%for profile in profile%}
                <img src={{profile.profile_pic.url}} style="width: 300px; height: 300px; border-radius: 50%">
                <div class="well" style="float: right; margin-top: 100px; margin-right: 200px">
                    <div class="">
                <h5 style="float: left; margin-left: 20px; font-size: 30px; font-weight: bold; margin-top: -1px">
                    

                {{profile.username}}</h5>
                 <i class="fa fa-gear" style="font-size:24px; float: right;  margin-left: 30px"></i>
                 <a style="" href="{% url 'upload_profile'%}"><button class="btn btn-primary" style="background-color: #EEEEEE; color: black; float: right; margin-left: 30px; height: 30px">Edit Profile</button></a> 
                
             </div>
             <hr>
            <!--      <button type="button" name="button" class="following" style="font-weight:700">{{profile.username}}</button> -->
                  <div class="follow">
                    <div>
      <h4 style="float: left;">{{image_id.followers}} followers</h4>
      </div>
      <div>
      <h4 style="float: right;">{{image_id.following }} following</h4>
      </div>
    </div>

              <!--   <p>{{profile.bio}}</p> -->
                <ul>
                </div>
   <img src="{{profile.profile.url}}" class="img-responsive" alt="">
  </ul>
  
      <h3>{{image_id.username}}{{image_id.image_caption}}</h3>
      {% autoescape on %}
         <!-- <div>{{image_id.bio| safe}}</div> -->
        {% endautoescape %}
   
                 {%endfor%}
    <div class="col-lg-6">
        <h1>{{image_id.username}}</h1>
         
    <a href="{{image_id.url}}" class="profile-link">{{image_id.url}}</a>

    </div>
  </div>


<div class="profile-images row">
  {%for profile in profile%}
  
    {%endfor%}


</div>
</div>
{% endblock %}

