{% extends "base.html"%}
{% load bootstrap3 %}
{% block content %}

{{block.super}}
<div class="well">
<div class="row">
            <h1>GIIII</h1>
          </div>
<div class="row"><
<div class="col-md-6"></div>
<form  action="{% url 'upload' %}" method="post" enctype="multipart/form-data" style="margin-top: -400px;">
{% csrf_token %}
{% bootstrap_form form%}
<div class="form-group" >
<input type="submit" class="action-button shadow animate red" value="Upload" style="width: 200px">
</div>
<input type="hidden" name="next" value="{{next}}">
</form>
</div>
</div>
    <!-- empty div -->
<div class="col-md-4"></div>
</div>
</div>

{% endblock %}