{%extends 'base.html'%}
{% load staticfiles%}
{% load bootstrap3 %}
 {%block content%}
<div class="well" style="margin-bottom:  -200px">
    <div class="col-md-3 "></div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {% bootstrap_form form layout='inline'%}
            <input type="submit" class="btn btn-primary btn-sm" value="Submit">
            <input type="hidden" name="next" value="{{next}}">

        </form>
        <p><a  href="{% url 'profile' %}" >Previous</a></p>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}